:root {
  --nvim-bg: #16181a;
  --nvim-fg: #ffffff;
  --nvim-title: #ffffff;
  --nvim-link: #5eff6c;
  --nvim-code-bg: #3c4048;
  --nvim-code-fg: #5eff6c;
  --nvim-border: #3c4048;
  --nvim-accent: #ffbd5e;
}
