:root {
  --nvim-bg: #0a0a0f;
  --nvim-fg: #e0def4;
  --nvim-title: #65b1cd;
  --nvim-link: #a3be8c;
  --nvim-code-bg: #373354;
  --nvim-code-fg: #a3be8c;
  --nvim-border: #6e6a86;
  --nvim-accent: #c4a7e7;
}
